[mysqld]
rocksdb
default-storage-engine=rocksdb
skip-innodb
default-tmp-storage-engine=MyISAM
collation-server=latin1_bin #(or utf8_bin, binary)

log-bin
binlog-format=ROW

datadir=/home/bily/mysql-5.6/test_data
socket=/tmp/mysql.sock
port=3306


[client]
port=3306
socket=/tmp/mysql.sock


